<div class="hero">
  <div class="maxContentWith innerhero">
    <div class="heroImage">
      <img src="./../../../assets/img/hero character photo.png" alt="" />
      <span>oezkan.sarikaya&#64;gmail.com</span>
    </div>
    <div class="heroRight">
      <div class="heroHeadlineOuterFrame">
        <h4>I am</h4>
        <div class="heroHeadline">
          <h2>Özkan Sarikaya</h2>
          <h3>FRONTEND DEVELOPER</h3>
          <!-- <button class="contactButton">Let´s talk!</button> -->
        </div>
      </div>
      <button class="contactButton">Let´s talk!</button>
    </div>
  </div>
</div>
