


  <div
  data-aos="zoom-in"
    class="project"
    [ngClass]="{
      even: singleportfolio.index % 2 == 0,
      odd: singleportfolio.index % 2 != 0 
    }"
  >
    <div class="img">
      <a href="{{ singleportfolio.demoUrl }}" target="_blank" class="imgLink">
      <img
        src="{{ singleportfolio.image }}"
        alt="{{ singleportfolio.headline }}"
      />
    </a>
    </div>
    <div class="projectdetails">

      <h3>{{ singleportfolio.headline }}</h3>
      <h4>{{ singleportfolio.subheadline }}</h4>
      <p>

        @if (translate.english) { 
          {{ singleportfolio.text }}
        }
        @else {      
          {{ singleportfolio.deutsch }}
        }


      </p>
      <div class="buttons">
        <a href="{{ singleportfolio.demoUrl }}" class="primary" target="_blank"
          >Live test</a
        >
        @if (singleportfolio.githubUrl) {
        <a
          href="{{ singleportfolio.githubUrl }}"
          target="_blank"
          class="secondary"
          >Github</a>
        }
      </div>
    </div>
  </div>

