
#portfolio {
  background-image: url("./../../../assets/img/Purple shadow 3.png");
  background-repeat: no-repeat;
  background-position: -200px 50px;
  background-size: 35%;
  
  
  // padding: 0 100px 36px 100px;
}


.innerportfolio {
  padding: 36px 100px 36px 100px;
  
  // max-width: 1440px;
  // margin:0 auto;

}

.projectlist:nth-child(even) {
  flex-direction: row-reverse;
}

.projectlist:nth-child(odd) {
  flex-direction: row;
}

h2 {
  text-align: center;
  background-color: #141d2f;
  width: fit-content;
  padding: 0 24px;
}

.h2div {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 48px;
  svg {
    position: absolute;
    width: 78%;
    top: 50%;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
  }
}

p {
  text-align: center;
}

.maxContentWith {
  max-width: 1440px;
}

@media screen and (max-width: 900px) {
  .project {
    flex-direction: column !important;
  }
  .img,
  .projectdetails {
    max-width: 100%;
  }
  .portfolio {
    padding: 48px 25px;
  }
  .buttons {
    gap: 16px;
    justify-content: center;
  }
  a {
    padding: 15px 15px;
    border-radius: 10px;
    color: white;
    font-size: 23px;
  }
  .projectdetails {
    align-items: center;
  }
}
