<div class="portfolio" id="portfolio">
  <div class="maxContentWith innerportfolio">
    <h2>Portfolio</h2>
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>

    @for(portfolio of portfolios; track portfolios; let index = $index) {
    <div class="project">
      <div class="img">
        <img src="{{ portfolio.image }}" alt="" />
      </div>
      <div class="projectdetails">
        <h3>{{ portfolio.headline }}</h3>
        <h4>{{ portfolio.subheadline }}</h4>
        <p>{{ portfolio.text }}</p>
        <div class="buttons">
          <a href="{{ portfolio.demoUrl }}" class="primary" target="_blank"
            >Live test</a
          >
          <a href="{{ portfolio.githubUrl }}" target="_blank" class="secondary"
            >Github</a
          >
        </div>
      </div>
    </div>
    }
  </div>
</div>
