.portfolio {
  background-image: url("./../../../assets/img/Purple shadow 3.png");
  background-repeat: no-repeat;
  background-position: -200px 50px;
  background-size: 35%;
  padding:48px 16px;
  padding-top: 110px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  color: #9747ff;
}

h4 {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: #70e61c;
}
button, a {
  border: unset;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  background-color: unset;
  transition: background-color 125ms ease-in-out;
}

button:hover, a:hover {
    background-color: #70e61c;
}

.primary {
  background-color: #9747ff;
}
.secondary {
  border: 1px solid #70e61c;
}

.project {
  display: flex;
  gap: 48px;
  // flex-direction: row-reverse;
  margin: 48px 0;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project:nth-child(odd) {
  flex-direction: row;
}

.projectdetails {
  max-width: 50%;
}
.img {
  max-width: 50%;
  img {
    width: 100%;
  }
}
.buttons {
  display: flex;
  gap: 86px;
}

h2 {text-align: center;}

p {text-align: center;}
