#main {
  background-image: url("./../../assets/img/Green shadow 3.png");
  background-repeat: no-repeat;
  background-position: right bottom 20%;
  // background-size: 25%;
  overflow: hidden;
}

#aboutme {
    scroll-margin-top: 109px;
}

#portfolio {
    scroll-margin-top: 89px;
    padding-top: 24px ;
    // background-image: url("./../../assets/img/Purple shadow 3.png");
    // background-repeat: no-repeat;
    // background-position: center left;
    // background-color:red;
    // background-size: 35%;
}



#contact {
  scroll-margin-top: 89px;
  padding-top: 24px ;
 
}

// #contact {
//     background-image: url("./../../assets/img/Purple shadow 4.png");
//     background-repeat: no-repeat;
//     background-position: left bottom;
//     background-size: 30vw;
//     scroll-margin-top: 90px;     
//   }


