.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141d2f;
  height: 109px;
  z-index: 10000;
}

.logo {
  margin-left: -14px;
}



.desktopNav {
  display: flex;
  align-items: flex-start;
  gap: 29px;
  span {
    cursor: pointer;
  }
  a {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    transition: color 125ms ease-in-out;
    color:white;
    padding-bottom:4px;
    &.active {
      color: #70e61c;    
      border-bottom:4px solid #9747FF;
    }
    &:hover {
      color: #70e61c;
    }
  }
}

.innerHeader {
  padding: 37px 100px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav svg {cursor: pointer;}
nav svg path {color:white;font-weight:bold;}

.en rect {x:0.5;}
.de rect {x:40;}

rect.border {}
.mobileNavContainer, .burgermenu {
  display: none;
}

.burgermenu,
.mobileNav {
  // display: none;
}

// .d-none {display: none;}

@keyframes slideIn {
  from {transform:translateX(100vw);}
  to {transform:translateX(0);}
}

@keyframes slideOut {
  from {transform:translateX(0);}
  to {transform:translateX(100vw);}
}



@media screen and (max-width: 920px) {

  .burgermenu {
display:flex;

  }
  .mobileNav {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    z-index: 2;
    gap: 29px;

    a {
      font-size: 23px;
      font-weight: 400;
      line-height: 27.6px;
      text-align: left;
      transition: color 125ms ease-in-out;
      color:white;
      &:hover {
        color: #70e61c;
      }
 
    }
  }

  // #mobileMenu .slideIn {
  //   animation: slideIn 1s ease-in-out;
  // }

  // #mobileMenu .slideOut {
  //   animation: slideOut 1s ease-in-out;
  // }
  .mobileNav {
    span {
      cursor: pointer;
    }
  }

  .burgermenu {
    width: 30px;
    height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 9100;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    border-radius:24px;
  }
  
  .line1 {
    top: 0;
  }
  
  .line2 {
    top: 10px;
  }
  
  .line3 {
    top: 20px;
  }
  
  /* Animation for transforming into a cross */
  .burgermenu.open .line1 {
    transform: rotate(45deg);
    top: 10px;
  }
  
  .burgermenu.open .line2 {
    opacity: 0;
  }
  
  .burgermenu.open .line3 {
    transform: rotate(-45deg);
    top: 10px;
  }

  .mobileNavContainer {
    // transform:translateX(-500px);
    background-color: #141d2fcc;
    height: 100vh;
    width:100vw;
    z-index: 5;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    // left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .mobileNavContainer.open {
    transform: translateX(0);
  }

  .desktopNav {
    display: none;
  }
  .burgermenu {
    // display: inline;
    cursor: pointer;
  }

  .innerHeader {
    padding: 37px 25px;
  }
}
