.innerskills {display: flex;
align-items: start;}
.skillbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
    width:88px;
    font-weight: 700;
}
.skillsLeft {
    width:50%;
    display: flex;
    gap:88px;
    flex-wrap: wrap;

}

.skillsRight {width:50%;}