<div id="contact">
  <h2>
    <svg
      width="537"
      height="4"
      viewBox="0 0 537 4"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 2L535 2.00005"
        stroke="#9747FF"
        stroke-width="4"
        stroke-linecap="round"
      />
    </svg>
    Contact
  </h2>
  <div class="maxContentWith">
    <div class="contactpage">
      <div class="contactText">
        <h3>Got a problem to solve?</h3>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? <strong>Contact me!</strong></p>
      </div>
      <form
        class="contactForm"
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
      >
        <div class="formElements">
          <input
          
            class="inputField"
            #name="ngModel"
            [(ngModel)]="contactData.name"
            [ngClass]="{ redBorder:!name.valid && contactForm.touched,greenBorder:name.valid && contactForm.touched}"
            type="text"
            placeholder="Your name"
            name="yourname"
            required
          />
          @if (!name.valid && contactForm.touched && !name.disabled) {
          <span>Please enter your name!</span>

          }
        </div>

        <div class="formElements">
          
          <input
            class="inputField"
            [ngClass]="{ redBorder:!email.valid && contactForm.touched,greenBorder:email.valid && contactForm.touched}"
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            placeholder="Your email"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          />
          @if (!email.valid && !email.disabled && contactForm.touched) {
          <span>Please enter your email!</span>
          }
        </div>

        <div class="formElements">
          <textarea
            class="inputField"
            [ngClass]="{ redBorder:!message.valid && contactForm.touched,greenBorder:message.valid && contactForm.touched}"
            #message="ngModel"
            [(ngModel)]="contactData.message"
            name="message"
            id=""
            placeholder="Your message"
            required
            minlength="4"
          ></textarea>
          @if (!message.valid && !message.disabled && contactForm.touched) {
          <span>Please enter a message!</span>
          }
        </div>

        <div class="checkbox formElements">
          <input #checkbox="ngModel" [(ngModel)]="contactData.checkbox" type="checkbox" name="agree" id="accept" required />
          <label
            for="accept"
            >I´ve read the <a routerLink="privacypolicy">privacy policy</a> and
            agree to the processing of my data as outlined.</label
          >
          @if (checkbox.value == false && contactForm.touched ) {
            <span>Please accept the privacy policy!</span>
            }
        </div>
        @if (checkbox.value == true && contactForm.valid) {
   
          <a class="contactButton" type="submit">Send message :)</a>
          
          }
          @else {
        <button type="submit">Send message :)</button>
      }
      </form>

  

    </div>
<div class="upButton">
  <a href="#top">
    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2"/>
      <path d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="white"/>
      </svg>
    </a>
    </div>

  </div>
</div>
