<div id="contact">
  <div class="maxContentWith">
    <h2>Contact</h2>
    <div class="contact">
      <div class="contactText">
        <h3>Got a problem to solve?</h3>
        <p>
          Conatct me throught this form, I am interested in hearing from you,
          knowing your ideas and contributin to your projects with my workd.
        </p>
        <p>Nee a Frontend developer? <b>Contact me!</b></p>
      </div>
      <div class="contactForm">

<input type="text" placeholder="Your name">
<input type="text" placeholder="Your email">
<textarea name="" id="" placeholder="Your message"></textarea>
<div><input type="checkbox" name="" id=""> I´ve read the <a routerLink="privacypolicy">privacy policy</a> and agree to the processing of my data aus outlined.</div>
<button>Send message :)</button>

      </div>
    </div>
  </div>
</div>
