#contact {
  background-image: url("./../../../assets/img/Purple shadow 4.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 30vw;
  scroll-margin-top: 110px;
}
b, strong {font-weight: bold;}
// strong {font-weight: bold;}

.h2div {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 48px;
  svg {
    position: absolute;
    width: 78%;
    top: 50%;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
  }
}

.contactpage {
  display: flex;
  gap: 32px;
  padding: 36px 100px;
  position: relative;
}

.contactText,
.contactForm {
  width: 50%;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.formElements {
  width: 100%;
  span {
    color: red;
    display: block;
    margin: 6px 0 0 20px;
  }
  padding: 0;
  font-size: 16px;
}

.inputField {
  border: unset;
  border: 1px solid #9747ff;
  border-radius: 10px;
  background-color: inherit;
  padding: 15px 25px;
  width: 100%;
  color: white;
  &:focus {
    outline: none !important;
    border: 1px solid #9747ff;
  }
  &:hover {
    border-color: #70e61c;
  }
}

.redBorder {
  border-color: red;
  background-image: url("./../../../assets/img/icons/svg/invalid.png");
  background-repeat: no-repeat;
  background-position: right 16px top 8px;
}

.greenBorder {
  border-color: #70e61c;
  background-image: url("./../../../assets/img/icons/svg/valid.png");
  background-repeat: no-repeat;
  background-position: right 16px top 8px;
}


textarea {
  min-height: 202px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.479);
  font-size: 16px;
  line-height: 19.2px;
  text-align: left;
}

a {
  color: #9747ff;
}

button {
  width: fit-content;
  border: unset;
  background-color: #b6b6b6;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  font-size: 23px;
  cursor: not-allowed;
  line-height: 27.6px;
}

h2 {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #141d2f;
  padding: 0 24px;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input[type="checkbox"] + label {
  display: block;
  min-height: 32px;
  cursor: pointer;
  background-image: url("./../../../assets/img/icons/svg/unchecked.png");
  background-repeat: no-repeat;
  background-position: 8px -3px;
  padding-left: 43px;
  font-size: 14px;
  line-height: 16.8px;
}

.checkbox input[type="checkbox"]:checked + label {
  background-image: url("./../../../assets/img/icons/svg/checked.png");
}

label a {
  font-size: 14px;
  font-weight: 400;
}

.contactButton {
  border: unset;
  cursor: pointer;
  background-color: #70e61c;
  padding: 15px 30px 15px 30px;
  gap: 10px;
  border-radius: 10px;
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  width: fit-content;
  transition: all 125ms ease-in-out;
}

.contactButton:hover {
  background-color: #9747ff;
  transform: scale(1.2);
}

.d-none {display: none;}

.sentBox {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: red; */
  // height:100vh;
  // z-index: 5;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  // background-color: rgba(0,0,0,0.6);
}

.sentMessage {
background-color: #70e61c;
padding:20px;
border-radius: 16px;
font-size: 24px;

}

.upButton {
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  padding: 24px 100px;

  svg {
    cursor: pointer;
    path,
    rect {
      transition: all 125ms ease-in-out;
    }
    &:hover path {
      fill: #70e61c;
    }
    &:hover rect {
      stroke: #70e61c;
    }
  }
}

@media screen and (max-width: 900px) {
  .contactpage {
    padding: 32px 25px;
    flex-direction: column;
    
  }

  .upButton {
    padding: 32px 25px;
  }

  .contactText,
  .contactForm {
    width: 100%;
  }
}
