<div id="contact">
  <h2><svg
    width="537"
    height="4"
    viewBox="0 0 537 4"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 2L535 2.00005"
      stroke="#9747FF"
      stroke-width="4"
      stroke-linecap="round"
    />
  </svg> Contact</h2>
  <div class="maxContentWith">
    
    <div class="contactpage">      
      <div class="contactText">
        <h3>Got a problem to solve?</h3>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? <strong>Contact me!</strong></p>
      </div>
      <div class="contactForm">
        <input type="text" placeholder="Your name" />
        <input type="text" placeholder="Your email" />
        <textarea name="" id="" placeholder="Your message"></textarea>
        <div>
          <input type="checkbox" name="" id="" /> I´ve read the
          <a routerLink="privacypolicy">privacy policy</a> and agree to the
          processing of my data aus outlined.
        </div>
        <button>Send message :)</button>
      </div>
    </div>
  </div>
</div>
