.inneraboutme {
  display: flex;
  align-items: center;
  padding: 0 100px;
  // justify-content: space-around;
  // gap:48px;
  // .innerHeader {
  //   padding: 0 25px; 
  // }
}
img {
  border: 4px solid #70e61c;
  border-radius: 50%;
  max-width: 453px;
  width: 100%;
  z-index: 2;
}

p,td {line-height:24px;}

.aboutme {
  scroll-margin-top: 85px;
  background-image: url("./../../../assets/img/Purple shadow 2.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  padding: 24px 0px;
  // padding-top: 110px;
  display: flex;
  align-items: center;
  // z-index: -3;
}
.aboutmeLeft {
  width: 50%;
}
.aboutmeRight {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.line {
  position: absolute;
  right: 0;
  height: 4px;
  background-color: #70e61c;
  width: 35vw;
  // z-index: -1;
}

tr {vertical-align: top;

}
td {padding-bottom: 16px;}

@media screen and (max-width: 900px) {
  .inneraboutme {
    padding: 0 25px;
  }
}

@media screen and (max-width: 1280px) {
  img {
    max-width: 403px;
  }
}

@media screen and (max-width: 1024px) {
  .aboutmeRight {
    display: none;
  }
  .aboutmeLeft {
    width: 100%;
  }
  .line {
    display: none;
  }
}
