.inneraboutme {
  display: flex;
  align-items: center;
}
img {
  border: 4px solid #70e61c;
  border-radius: 50%;
}

.aboutme {
    background-image: url('./../../../assets/img/Purple shadow 2.png');
    background-repeat: no-repeat;
    background-position: top right;
}
