.inneraboutme {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  // gap:48px;
}
img {
  border: 4px solid #70e61c;
  border-radius: 50%;
  width:453px;
}

.aboutme {
    background-image: url('./../../../assets/img/Purple shadow 2.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    padding:48px 16px;
    padding-top: 110px;
   
}
.aboutmeLeft {

  width:50%;
}
.aboutmeRight{
  width:50%;
  display: flex;
  justify-content: flex-end;
}
